[submodule "snorkel"]
	path = snorkel
	url = https://github.com/lorenzoranucci/snorkel
[submodule "wikiextractor"]
	path = wikiextractor
	url = https://github.com/lorenzoranucci/wikiextractor.git
[submodule "lookup"]
	path = lookup
	url = https://github.com/dbpedia/lookup.git
[submodule "kb_construction_ml_thesis"]
	path = kb_construction_ml_thesis
	url = https://github.com/lorenzoranucci/kb_construction_ml_thesis.git
