[submodule "snorkel"]
	path = snorkel
	url = https://github.com/lorenzoranucci/snorkel
[submodule "wikiextractor"]
	path = wikiextractor
	url = https://github.com/lorenzoranucci/wikiextractor.git
[submodule "lookup"]
	path = lookup
	url = https://github.com/dbpedia/lookup.git
[submodule "14237107rkkhdfdnykck"]
	path = thesis
	url = https://git.overleaf.com/14237107rkkhdfdnykck
